<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuisitang.modules.shop.dao.AdvertDao">

	<!-- 1. 添加Advert -->
	<insert id="insert" parameterType="Advert" useGeneratedKeys="true" keyProperty="id">
		insert into t_advert
		(id
        <if test="title!=null and title!=''">,title</if>
		<if test="code!=null and code!=''">,code</if>
		<if test="remark!=null and remark!=''">,remark</if>
		<if test="html!=null and html!=''">,html</if>
		<if test="startdate!=null">,startdate</if>
		<if test="enddate!=null">,enddate</if>
		<if test="status!=null and status!=''">,status</if>
		<if test="useImagesRandom!=null and useImagesRandom!=''">,useImagesRandom</if>
		
		)
		values
		(
		id
		<if test="title!=null and title!=''">,#{title}</if>
		<if test="code!=null and code!=''">,#{code}</if>
		<if test="remark!=null and remark!=''">,#{remark}</if>
		<if test="html!=null and html!=''">,#{html}</if>
		<if test="startdate!=null">,#{startdate}</if>
		<if test="enddate!=null">,#{enddate}</if>
		<if test="status!=null and status!=''">,#{status}</if>
		<if test="useImagesRandom!=null and useImagesRandom!=''">,#{useImagesRandom}</if>
		
		)
	</insert>

	<!-- 2. 删除Advert -->
	<delete id="delete" parameterType="Advert">
		delete from t_advert where id = #{id}
	</delete>

	<!-- 3. 修改Advert -->
	<update id="update" parameterType="Advert">
		update t_advert
		set id= #{id}
		<if test="title!=null and title!=''">,title = #{title}</if>
		<if test="code!=null and code!=''">,code = #{code}</if>
		<if test="remark!=null and remark!=''">,remark = #{remark}</if>
		<if test="html!=null and html!=''">,html = #{html}</if>
		<if test="startdate!=null">,startdate = #{startdate}</if>
		<if test="enddate!=null">,enddate = #{enddate}</if>
		<if test="status!=null and status!=''">,status = #{status}</if>
		<if test="useImagesRandom!=null and useImagesRandom!=''">,useImagesRandom = #{useImagesRandom}</if>
				
		where id = #{id}
	</update>

	<!-- 4. 根据Advert查询一条记录 -->
	<select id="selectOne" parameterType="Advert" resultType="Advert">
		select t.* from t_advert t where t.id = #{id}
	</select>

	<!-- 5. 分页查询Advert -->
	<select id="selectPageList" parameterType="Advert" resultType="Advert">
		select t.* from t_advert t where 1 = 1
		<if test="title!=null and title!=''"> and title = #{title}</if>
		<if test="code!=null and code!=''"> and code = #{code}</if>
		<if test="remark!=null and remark!=''"> and remark = #{remark}</if>
		<if test="html!=null and html!=''"> and html = #{html}</if>
		<if test="startdate!=null"> and startdate = #{startdate}</if>
		<if test="enddate!=null"> and enddate = #{enddate}</if>
		<if test="status!=null and status!=''"> and status = #{status}</if>
		<if test="useImagesRandom!=null and useImagesRandom!=''"> and useImagesRandom = #{useImagesRandom}</if>
		
		order by id
		limit #{offset}, #{pageSize}
	</select>

	<!-- 6. 根据条件查询Advert -->
	<select id="selectList" parameterType="Advert" resultType="Advert">
		select t.* from t_advert t where 1 = 1 
		<if test="title!=null and title!=''"> and title = #{title}</if>
		<if test="code!=null and code!=''"> and code = #{code}</if>
		<if test="remark!=null and remark!=''"> and remark = #{remark}</if>
		<if test="html!=null and html!=''"> and html = #{html}</if>
		<if test="startdate!=null"> and startdate = #{startdate}</if>
		<if test="enddate!=null"> and enddate = #{enddate}</if>
		<if test="status!=null and status!=''"> and status = #{status}</if>
		<if test="useImagesRandom!=null and useImagesRandom!=''"> and useImagesRandom = #{useImagesRandom}</if>
		
		order by id
	</select>

	<!-- 7. 根据ID来删除一条记录 -->
	<delete id="deleteById" parameterType="long">
		delete from t_advert where id = #{id}
	</delete>

	<!-- 8. 根据ID查询一条记录 -->
	<select id="selectById" parameterType="long" resultType="Advert">
		select t.* from t_advert t where t.id = #{id}
	</select>

	<!-- 9. 分页查询Advert -->
	<select id="selectPageCount" parameterType="Advert" resultType="int">
		select count(1) from t_advert t where 1 = 1
		<if test="title!=null and title!=''"> and title = #{title}</if>
		<if test="code!=null and code!=''"> and code = #{code}</if>
		<if test="remark!=null and remark!=''"> and remark = #{remark}</if>
		<if test="html!=null and html!=''"> and html = #{html}</if>
		<if test="startdate!=null"> and startdate = #{startdate}</if>
		<if test="enddate!=null"> and enddate = #{enddate}</if>
		<if test="status!=null and status!=''"> and status = #{status}</if>
		<if test="useImagesRandom!=null and useImagesRandom!=''"> and useImagesRandom = #{useImagesRandom}</if>
		
	</select>
	
	<!-- 10. 根据type获得Advert -->
	<select id="getByCode" parameterType="string" resultType="Advert">
		select t.* from t_advert t where t.code = #{code}
	</select>

</mapper>
