<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuisitang.modules.shop.dao.CatalogDao">

	<!-- 1. 添加Catalog -->
	<insert id="insert" parameterType="Catalog" useGeneratedKeys="true" keyProperty="id">
		insert into t_catalog
		(id
        <if test="name!=null and name!=''">,name</if>
		<if test="code!=null and code!=''">,code</if>
		<if test="pid!=null">,pid</if>
		<if test="sort!=null">,sort</if>
		<if test="type!=null and type!=''">,type</if>
		<if test="showInNav!=null and showInNav!=''">,showInNav</if>
		
		)
		values
		(
		id
		<if test="name!=null and name!=''">,#{name}</if>
		<if test="code!=null and code!=''">,#{code}</if>
		<if test="pid!=null">,#{pid}</if>
		<if test="sort!=null">,#{sort}</if>
		<if test="type!=null and type!=''">,#{type}</if>
		<if test="showInNav!=null and showInNav!=''">,#{showInNav}</if>
		
		)
	</insert>

	<!-- 2. 删除Catalog -->
	<delete id="delete" parameterType="Catalog">
		delete from t_catalog where id = #{id}
	</delete>

	<!-- 3. 修改Catalog -->
	<update id="update" parameterType="Catalog">
		update t_catalog
		set id= #{id}
		<if test="name!=null and name!=''">,name = #{name}</if>
		<if test="code!=null and code!=''">,code = #{code}</if>
		<if test="pid!=null">,pid = #{pid}</if>
		<if test="sort!=null">,sort = #{sort}</if>
		<if test="type!=null and type!=''">,type = #{type}</if>
		<if test="showInNav!=null and showInNav!=''">,showInNav = #{showInNav}</if>
				
		where id = #{id}
	</update>

	<!-- 4. 根据Catalog查询一条记录 -->
	<select id="selectOne" parameterType="Catalog" resultType="Catalog">
		select t.* from t_catalog t where t.id = #{id}
	</select>

	<!-- 5. 分页查询Catalog -->
	<select id="selectPageList" parameterType="Catalog" resultType="Catalog">
		select t.* from t_catalog t where 1 = 1
		<if test="name!=null and name!=''"> and name = #{name}</if>
		<if test="code!=null and code!=''"> and code = #{code}</if>
		<if test="pid!=null"> and pid = #{pid}</if>
		<if test="sort!=null"> and sort = #{sort}</if>
		<if test="type!=null and type!=''"> and type = #{type}</if>
		<if test="showInNav!=null and showInNav!=''"> and showInNav = #{showInNav}</if>
		
		order by id
		limit #{offset}, #{pageSize}
	</select>

	<!-- 6. 根据条件查询Catalog -->
	<select id="selectList" parameterType="Catalog" resultType="Catalog">
		select t.* from t_catalog t where 1 = 1 
		<if test="name!=null and name!=''"> and name = #{name}</if>
		<if test="code!=null and code!=''"> and code = #{code}</if>
		<if test="pid!=null"> and pid = #{pid}</if>
		<if test="sort!=0"> and sort = #{sort}</if>
		<if test="type!=null and type!=''"> and type = #{type}</if>
		<if test="showInNav!=null and showInNav!=''"> and showInNav = #{showInNav}</if>
		
		order by id
	</select>

	<!-- 7. 根据ID来删除一条记录 -->
	<delete id="deleteById" parameterType="long">
		delete from t_catalog where id = #{id}
	</delete>

	<!-- 8. 根据ID查询一条记录 -->
	<select id="selectById" parameterType="long" resultType="Catalog">
		select t.* from t_catalog t where t.id = #{id}
	</select>

	<!-- 9. 分页查询Catalog -->
	<select id="selectPageCount" parameterType="Catalog" resultType="int">
		select count(1) from t_catalog t where 1 = 1
		<if test="name!=null and name!=''"> and name = #{name}</if>
		<if test="code!=null and code!=''"> and code = #{code}</if>
		<if test="pid!=null"> and pid = #{pid}</if>
		<if test="sort!=null"> and sort = #{sort}</if>
		<if test="type!=null and type!=''"> and type = #{type}</if>
		<if test="showInNav!=null and showInNav!=''"> and showInNav = #{showInNav}</if>
		
	</select>
	<!-- 查询子目录 -->
	<select id="getSubCatalog" parameterType="long" resultType="Catalog">
		select t.* from t_catalog t where 1 = 1 
		and pid = #{catalogId}
	</select>
	<!-- 根据产品Id查询其目录 -->
	<select id="getCatalogByProduct" parameterType="long" resultType="Catalog">
		select c.*  from t_product_catalog_rela r, t_catalog c
			where r.catalogId = c.id and r.productId = #{productId}
			order by c.sort
	</select>
</mapper>
