<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuisitang.modules.shop.dao.OrderdetailExpressDao">

    <sql id="orderdetailExpressColumns">
		a.id,
    	a.orderdetail_id as orderdetailId,
    	a.mode,
    	a.express_type as expressType,
    	a.express_company_code as expressCompanyCode,
    	a.express_company_name as expressCompanyName,
    	a.express_no as expressNo,
    	a.express_fee as expressFee,
    	a.from_city_code as fromCityCode,
    	a.from_city_name as fromCityName,
    	a.to_city_code as toCityCode,
    	a.to_city_name as toCityName
	</sql>
    
	<!-- 1. 添加OrderdetailExpress -->
	<insert id="insert" parameterType="OrderdetailExpress" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO t_orderdetail_express(orderdetail_id, mode, express_type, express_company_code, express_company_name,
			express_no, express_fee, from_city_code, from_city_name, to_city_code, to_city_name) 
		VALUES (#{orderdetailId}, #{mode}, #{expressType}, #{expressCompanyCode}, #{expressCompanyName},
			#{expressNo}, #{expressFee}, #{fromCityCode}, #{fromCityName}, #{toCityCode}, #{toCityName})
	</insert>

	<!-- 2. 删除OrderdetailExpress -->
	<delete id="delete" parameterType="OrderdetailExpress">
		delete from t_orderdetail_express where id = #{id}
	</delete>

	<!-- 3. 修改OrderdetailExpress -->
	<update id="update" parameterType="OrderdetailExpress">
		UPDATE t_orderdetail_express 
		SET id= #{id}
		<if test="mode != null and mode != ''">,mode = #{mode}</if>
		<if test="expressType != null and expressType != ''">,express_type = #{expressType}</if>
		<if test="expressCompanyCode != null and expressCompanyCode != ''">,express_company_code = #{expressCompanyCode}</if>
		<if test="expressCompanyName != null and expressCompanyName != ''">,express_company_name = #{expressCompanyName}</if>
		<if test="expressNo != null and expressNo != ''">,express_no = #{expressNo}</if>
		<if test="expressFee != null">,express_fee = #{expressFee}</if>
		<if test="fromCityCode != null and fromCityCode != ''">,from_city_code = #{fromCityCode}</if>
		<if test="fromCityName != null and fromCityName != ''">,from_city_name = #{fromCityName}</if>
		<if test="toCityCode != null and toCityCode != ''">,to_city_code = #{toCityCode}</if>
		<if test="toCityName != null and toCityName != ''">,to_city_name = #{toCityName}</if>
		WHERE id = #{id}
	</update>

	<!-- 4. 根据OrderdetailExpress查询一条记录 -->
	<select id="selectOne" parameterType="OrderdetailExpress" resultType="OrderdetailExpress">
		SELECT <include refid="orderdetailExpressColumns" />
		FROM t_orderdetail_express a
		WHERE a.id = #{id}
	</select>

	<!-- 5. 分页查询OrderdetailExpress -->
	<select id="selectPageList" parameterType="OrderdetailExpress" resultType="OrderdetailExpress">
		SELECT
		<include refid="orderdetailExpressColumns" />
		FROM t_orderdetail_express a
		WHERE 1 = 1
		order by id
		limit #{offset}, #{pageSize}
	</select>

	<!-- 6. 根据条件查询OrderdetailExpress -->
	<select id="selectList" parameterType="OrderdetailExpress" resultType="OrderdetailExpress">
		SELECT
		<include refid="orderdetailExpressColumns" />
		FROM t_orderdetail_express a
		WHERE 1 = 1
		order by id
	</select>

	<!-- 7. 根据ID来删除一条记录 -->
	<delete id="deleteById" parameterType="long">
		delete from t_orderdetail_express where id = #{id}
	</delete>

	<!-- 8. 根据ID查询一条记录 -->
	<select id="selectById" parameterType="long" resultType="OrderdetailExpress">
		SELECT <include refid="orderdetailExpressColumns" />
		FROM t_orderdetail_express a 
		WHERE a.id = #{id}
	</select>

	<!-- 9. 分页查询OrderdetailExpress -->
	<select id="selectPageCount" parameterType="OrderdetailExpress" resultType="int">
		select count(1) from t_orderdetail_express t where 1 = 1
	</select>
	
</mapper>
