<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuisitang.modules.shop.dao.SellerDao">

	<!-- 1. 添加Seller -->
	<insert id="insert" parameterType="Seller" useGeneratedKeys="true" keyProperty="id">
		insert into t_seller
		(id
        <if test="name!=null and name!=''">,name</if>
		<if test="logo!=null and logo!=''">,logo</if>
		
		)
		values
		(
		id
		<if test="name!=null and name!=''">,#{name}</if>
		<if test="logo!=null and logo!=''">,#{logo}</if>
		
		)
	</insert>

	<!-- 2. 删除Seller -->
	<delete id="delete" parameterType="Seller">
		delete from t_seller where id = #{id}
	</delete>

	<!-- 3. 修改Seller -->
	<update id="update" parameterType="Seller">
		update t_seller
		set id= #{id}
		<if test="name!=null and name!=''">,name = #{name}</if>
		<if test="logo!=null and logo!=''">,logo = #{logo}</if>
				
		where id = #{id}
	</update>

	<!-- 4. 根据Seller查询一条记录 -->
	<select id="selectOne" parameterType="Seller" resultType="Seller">
		select t.* from t_seller t where t.id = #{id}
	</select>

	<!-- 5. 分页查询Seller -->
	<select id="selectPageList" parameterType="Seller" resultType="Seller">
		select t.* from t_seller t where 1 = 1
		<if test="name!=null and name!=''"> and name = #{name}</if>
		<if test="logo!=null and logo!=''"> and logo = #{logo}</if>
		
		order by id
		limit #{offset}, #{pageSize}
	</select>

	<!-- 6. 根据条件查询Seller -->
	<select id="selectList" parameterType="Seller" resultType="Seller">
		select t.* from t_seller t where 1 = 1 
		<if test="name!=null and name!=''"> and name = #{name}</if>
		<if test="logo!=null and logo!=''"> and logo = #{logo}</if>
		
		order by id
	</select>

	<!-- 7. 根据ID来删除一条记录 -->
	<delete id="deleteById" parameterType="long">
		delete from t_seller where id = #{id}
	</delete>

	<!-- 8. 根据ID查询一条记录 -->
	<select id="selectById" parameterType="long" resultType="Seller">
		select t.* from t_seller t where t.id = #{id}
	</select>

	<!-- 9. 分页查询Seller -->
	<select id="selectPageCount" parameterType="Seller" resultType="int">
		select count(1) from t_seller t where 1 = 1
		<if test="name!=null and name!=''"> and name = #{name}</if>
		<if test="logo!=null and logo!=''"> and logo = #{logo}</if>
		
	</select>

</mapper>
