html {
  height: 100%;
}
html body {
  height: 100%;
}
.advertisement {
  padding: 0;
}
.index-tips {
  width: 100%;
}
.tabs-index {
  padding: 0;
}
.tabs-index .am-tabs {
  margin: 0;
}
.tabs-index .am-tabs-d2 .am-tabs-nav > .am-active {
  border-bottom: 3px solid #ea2665;
  color: #ea2665;
}
.tabs-index .am-tabs-d2 .am-tabs-nav > .am-active a {
  color: #ea2665;
}
.tabs-index .am-tabs-d2 .am-tabs-nav > .am-active:after {
  border-bottom-color: #ea2665;
}
.tabs-index .am-tab-panel {
  padding-top: 21px;
}
.inputs .am-form-group {
  height: 60px;
  margin: 0;
}
.inputs .am-form-textarea {
  height: auto;
}
.inputs .am-form-textarea textarea {
  border-radius: 2px;
}
.inputs .am-u-sm-12 {
  padding: 0;
}
.inputs input[type=text],
.inputs input[type=password] {
  padding: .6em;
  font-size: 1.5rem;
  border-radius: 2px;
}
.inputs .am-btn-default {
  width: 100%;
  background-color: #ea2665;
  color: white;
  border-radius: 2px;
  border: 0;
  padding: .6em 1em;
}
.inputs .cellphone-code {
  position: absolute;
  height: 35px;
  z-index: 1;
  right: 2px;
  top: 2px;
  font-size: 14px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #ea2665;
  color: white;
  border-radius: 2px;
}
.inputs .code {
  position: absolute;
  width: 74px;
  height: auto;
  z-index: 1;
  right: 3px;
  top: 3px;
}
.inputs .err {
  height: 20px;
}
.inputs .err img {
  width: 12px;
}
.inputs .err p {
  margin: 0;
  font-size: 12px;
  height: 12px;
  line-height: 12px;
  margin-left: 3px;
  color: #ea2665;
}
.inputs .am-field-error,
.inputs .am-form-error .am-form-field {
  border-color: #ea2665 !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.register-n .active-introduction {
  width: 60%;
}
.register-n .am-u-sm-4 {
  padding-left: 2px;
  width: 40%;
}
.register-n .am-u-sm-4 .am-u-sm-10 {
  padding-right: 2px;
}
.register-n .am-u-sm-4 .am-u-sm-2 {
  padding-left: 0px;
  padding-right: 0px;
}
.active-introduction {
  border-right: 1px solid #ccc;
  margin-top: 9px;
}
.active-introduction p {
  margin-bottom: 0;
  margin-top: 0;
}
.active-introduction span {
  color: #ea2665;
}
.active-bonus {
  margin-top: 9px;
}
.active-bonus p {
  margin-bottom: 0;
  margin-top: 0;
}
.active-bonus p:first-child {
  line-height: 18px;
}
.go-to-active {
  margin-top: 9px;
  height: 37px;
  text-align: center;
}
.go-to-active img {
  width: 12px;
}
.software-tips {
  background-color: #ea2665;
  color: white;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-top: 9px;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 20px;
}
.software-tips img {
  width: 14px;
  margin-right: 2px;
}
.software-tips p {
  font-size: 12px;
  margin: 0;
  height: 12px;
  line-height: 12px;
}
.inviter {
  margin: 4px 0;
  font-size: 12px;
}
.inviter span {
  color: #ea2665;
}
.agreement {
  font-size: 12px;
}
.agreement a {
  color: #ea2665;
  text-decoration: none;
}
.success-n {
  height: 100%;
  background-color: #fee5e6;
}
.success-n .success-top-bar {
  background-color: white;
  padding: 10px 0;
  box-shadow: 0 3px 3px #ccc;
}
.success-n .success-top-bar .register-suc-word {
  text-align: center;
  height: 50px;
}
.success-n .success-top-bar .register-suc-word img {
  width: 40px;
  margin-right: 10px;
}
.success-n .success-top-bar .register-suc-word p {
  font-size: 20px;
  margin: 0;
}
.success-n .success-top-bar .software-down {
  text-align: center;
  height: 60px;
}
.success-n .success-top-bar .software-down button {
  width: 50%;
  background-color: #ea2665;
  color: white;
  border-radius: 2px;
  border: 0;
  padding: .6em 1em;
}
.success-n .success-bottom {
  text-align: center;
  margin-top: 30px;
}
.success-n .success-bottom .success-bottom-text1 {
  color: #ea2665;
  font-size: 21px;
  font-family: 'Microsoft YaHei';
}
.success-n .success-bottom img {
  width: 180px;
}
.success-n .success-bottom .success-bottom-text2 {
  color: #717171;
  font-family: 'Microsoft YaHei';
}
.success-n .share {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
}
.success-n .share img {
  width: 100%;
  height: 100%;
}
.invitation-code .invitation-back {
  background-image: url(../img/invitation-back.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 237px;
  padding: 0;
}
.invitation-code .invitation-back .gift-tips {
  height: 36px;
  background-color: white;
}
.invitation-code .invitation-back .gift-tips img {
  width: 28px;
  margin: 0 5px;
}
.invitation-code .invitation-back .gift-tips p {
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 0;
  color: #ea2665;
}
.invitation-code .invitation-back .down-pics {
  background-image: url(../img/down-pic-back.png);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 42px;
}
.invitation-code .invitation-back .down-pics p {
  margin-bottom: 0;
  margin-right: 10px;
  font-size: 17px;
}
.invitation-code .invitation-back .down-pics a {
  font-size: 12px;
  text-decoration: underline;
  line-height: 27px;
}
.invitation-code .invitation-back .my-invitation-code {
  text-align: center;
}
.invitation-code .invitation-back .my-invitation-code p {
  margin: 0;
}
.invitation-code .invitation-back .my-invitation-code img {
  width: 110px;
}
.invitation-code .invitation-back .my-invitation-code a {
  display: block;
  color: #A9A9A9;
  font-size: 12px;
}
.invitation-code .invitation-form {
  background-color: #ea2665;
}
.invitation-code .invitation-form .invitation-success {
  height: 57px;
  text-align: center;
  margin: 0 -12px;
  background-color: white;
  display: none;
}
.invitation-code .invitation-form .invitation-success img {
  width: 30px;
  margin-right: 10px;
}
.invitation-code .invitation-form .invitation-success p {
  margin: 0;
  line-height: 30px;
  font-size: 15px;
}
.invitation-code .invitation-form .am-form-group {
  position: relative;
  margin: 10px 0;
}
.invitation-code .invitation-form .am-form-group .am-form-group-input {
  margin-right: 55px;
}
.invitation-code .invitation-form .am-form-group .am-form-group-input input {
  font-size: 15px;
  height: 37px;
  border-radius: 3px;
}
.invitation-code .invitation-form .am-form-group img {
  position: absolute;
  right: 50px;
  width: 24px;
  top: 8px;
  display: none;
}
.invitation-code .invitation-form .am-form-group button {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  color: white;
  background-color: #ea2665;
  border-color: #ea2665;
  font-size: 19px;
  line-height: 33px;
  padding: 1px 6px;
}
.invitation-code .invitation-form .invitation-err img {
  display: block;
}
.invitation-code .invitation-form .invitation-err .am-form-group-input {
  margin-right: 80px;
}
.invitation-code .invitation-form-success .invitation-success {
  display: block;
}
.invitation-code .invitation-form-success .am-form-inline {
  display: none;
}
.invitation-code .invitation-person {
  padding: 0;
}
.invitation-code .invitation-person .invitation-person-total {
  background-color: #EFEFEF;
}
.invitation-code .invitation-person .invitation-person-total p {
  font-size: 13px;
  margin-bottom: 0;
  line-height: 30px;
}
.invitation-code .invitation-person .invitation-table {
  padding: 0;
}
.invitation-code .invitation-person .invitation-table tbody > tr > td {
  padding: 5px 13px;
  font-size: 14px;
  color: #666;
}
.invitation-code .invitation-person .invitation-table .am-table {
  margin-bottom: 0;
}
.invitation-code .invitation-person .page {
  border-top: 1px solid #ddd;
}
.invitation-code .invitation-person .page .am-pagination {
  margin: 10px 0;
}
.invitation-code .invitation-person .page .am-pagination a {
  border-radius: 1000px;
  background-color: white;
  border: 1px solid #ddd;
  font-size: 13px;
  color: #ea2665;
}
.invitation-code .invitation-person .page .am-pagination select {
  border-radius: 1000px;
  background-color: white;
  border: 1px solid #ddd;
  font-size: 13px;
  color: #ea2665;
}
.appointment-cities {
  margin-top: 10px;
}
.appointment-cities p {
  font-size: 12px;
  margin-bottom: 3px;
}
.appointment-cities .appointment-city {
  border: 1px solid #D8D8D8;
  padding: 3px 10px;
  font-size: 12px;
  border-radius: 2px;
  display: inline-block;
  color: #ea2665;
}
.appointment-cities .appointment-city-active {
  border: 1px solid #ea2665;
  color: white;
  background-color: #ea2665;
}
.appointment-title h4 {
  margin: 5px 0;
}
.am-container .choice-city {
  position: fixed;
  height: 100%;
  overflow: hidden;
  background-color: white;
  z-index: 3;
  top: 0;
  width: 100%;
  left: 100%;
  margin: 0;
}
.am-container .choice-city .choice-city-title {
  background-color: #ea2665;
  position: fixed;
  padding: 12px 0;
  z-index: 5;
}
.am-container .choice-city .choice-city-title p {
  color: white;
  text-align: center;
  margin-bottom: 0;
  line-height: 18px;
  font-size: 18px;
}
.am-container .choice-city .choice-city-title img {
  position: absolute;
  top: 12px;
  right: 15px;
  width: 18px;
}
.am-container .choice-city .choice-city-bar {
  position: absolute;
  height: 100%;
  padding: 42px 0 0 0;
}
.am-container .choice-city .choice-city-bar .province {
  padding: 0;
  height: 100%;
  overflow: auto;
}
.am-container .choice-city .choice-city-bar .province div {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.am-container .choice-city .choice-city-bar .province .city-active {
  background-color: #E0DDDD;
  color: #ea2665;
}
.am-container .choice-city .choice-city-bar .city {
  padding: 0;
  height: 100%;
  overflow: auto;
}
.am-container .choice-city .choice-city-bar .city div {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.am-container .choice-city .choice-city-bar .city .city-active {
  background-color: #E0DDDD;
  color: #ea2665;
}
.am-container .choice-city .choice-city-bar .county {
  padding: 0;
  height: 100%;
  overflow: auto;
}
.am-container .choice-city .choice-city-bar .county div {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.am-container .choice-city .choice-city-bar .county .city-active {
  background-color: #E0DDDD;
  color: #ea2665;
}
.am-container .choice-city .choice-city-submit {
  position: absolute;
  bottom: 0;
  z-index: 12;
  padding: 0;
}
.am-container .choice-city .choice-city-submit .submit-back {
  background-color: black;
  opacity: 0.5;
  height: 60px;
  padding: 0;
}
.am-container .choice-city .choice-city-submit .choice-city-submit-btn {
  position: absolute;
  text-align: center;
  top: 50%;
  margin-top: -18px;
}
.am-container .choice-city .choice-city-submit .choice-city-submit-btn button {
  width: 180px;
  background-color: #ea2665;
  color: white;
  border-color: #ea2665;
}
#my-popup .am-popup-inner {
  padding: 0;
}
#my-popup .am-popup-inner .am-popup-bd {
  padding: 0;
  height: 100%;
}
#choice-city-input {
  padding: .6em;
  font-size: 1.5rem;
  border-radius: 2px;
  display: block;
  width: 100%;
  line-height: 1.2;
  color: #9E9E9E;
  vertical-align: middle;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.city-map #mapContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.city-map #mapContainer .amap-logo {
  display: none;
}
.city-map #mapContainer .amap-copyright {
  display: none;
}
.city-map #tip {
  background-color: #DCDCDC;
  border: 1px solid #DCDCDC;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 12px;
  overflow: hidden;
  width: 100%;
}
.city-map #tip input[type="button"] {
  background-color: #0D9BF2;
  height: 25px;
  text-align: center;
  line-height: 25px;
  color: #fff;
  font-size: 12px;
  border-radius: 3px;
  outline: none;
  border: 0;
  cursor: pointer;
}
.city-map #tip input[type="text"] {
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  margin: 10px auto;
  width: 92%;
}
.city-map #result1 {
  background-color: white;
  max-height: 382px;
}
.city-map #result1 .result-list {
  width: 92%;
  margin: 0 auto;
}
.city-map .choice-city-submit {
  position: absolute;
  bottom: 0;
  z-index: 12;
  padding: 0;
}
.city-map .choice-city-submit .submit-back {
  background-color: black;
  opacity: 0.5;
  height: 60px;
  padding: 0;
}
.city-map .choice-city-submit .choice-city-detail-submit-btn {
  position: absolute;
  text-align: center;
  top: 50%;
  margin-top: -18px;
}
.city-map .choice-city-submit .choice-city-detail-submit-btn button {
  width: 180px;
  background-color: #ea2665;
  color: white;
  border-color: #ea2665;
}
.pain-close {
  display: none;
}
.pain-open {
  display: block;
}
.datetimepicker {
  position: fixed;
  top: 50%;
  z-index: 9999;
  margin-left: -119px;
  margin-top: -142px;
}
.datetimepicker:before {
  content: '';
  display: block;
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-bottom: 0px solid #3bb4f2;
  border-right: 0px solid transparent;
  border-left: 0px solid transparent;
  border-top: 0 dotted;
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  position: absolute;
}
@media only screen and (max-width: 640px) {
  .datetimepicker {
    width: 238px;
    left: 50%!important;
  }
}
.datetimepicker-background {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 20;
  display: none;
  top: 0;
  left: 0;
}
.datetimepicker table {
  background-color: #ea2665;
}
.datetimepicker table th.next,
.datetimepicker table th.prev {
  background-color: #ea2665;
}
.datetimepicker table th.switch {
  background-color: #ea2665;
}
.datetimepicker table th.dow {
  color: #ea2665;
}
.demand {
  width: 280px;
  position: fixed;
  top: 0;
}
.demand .title {
  width: 100%;
  background-color: #ea2665;
  text-align: center;
  position: relative;
}
.demand .title p {
  color: white;
  font-size: 16px;
  line-height: 36px;
  margin: 0;
}
.demand .title img {
  position: absolute;
  right: 10px;
  width: 16px;
  top: 11px;
}

/*# sourceMappingURL=../css/wx-binding-account.css.map */