<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuisitang.modules.shop.dao.AttributeLinkDao">

	<!-- 1. 添加AttributeLink -->
	<insert id="insert" parameterType="AttributeLink" useGeneratedKeys="true" keyProperty="id">
		insert into t_attribute_link
		(id
        <if test="attrID!=0">,attrID</if>
		<if test="productID!=0">,productID</if>
		<if test="value!=null and value!=''">,value</if>
		
		)
		values
		(
		id
		<if test="attrID!=0">,#{attrID}</if>
		<if test="productID!=0">,#{productID}</if>
		<if test="value!=null and value!=''">,#{value}</if>
		
		)
	</insert>

	<!-- 2. 删除AttributeLink -->
	<delete id="delete" parameterType="AttributeLink">
		delete from t_attribute_link where id = #{id}
	</delete>

	<!-- 3. 修改AttributeLink -->
	<update id="update" parameterType="AttributeLink">
		update t_attribute_link
		set id= #{id}
		<if test="attrID!=0">,attrID = #{attrID}</if>
		<if test="productID!=0">,productID = #{productID}</if>
		<if test="value!=null and value!=''">,value = #{value}</if>
				
		where id = #{id}
	</update>

	<!-- 4. 根据AttributeLink查询一条记录 -->
	<select id="selectOne" parameterType="AttributeLink" resultType="AttributeLink">
		select t.* from t_attribute_link t where t.id = #{id}
	</select>

	<!-- 5. 分页查询AttributeLink -->
	<select id="selectPageList" parameterType="AttributeLink" resultType="AttributeLink">
		select t.* from t_attribute_link t where 1 = 1
		<if test="attrID!=0"> and attrID = #{attrID}</if>
		<if test="productID!=0"> and productID = #{productID}</if>
		<if test="value!=null and value!=''"> and value = #{value}</if>
		
		order by id
		limit #{offset}, #{pageSize}
	</select>

	<!-- 6. 根据条件查询AttributeLink -->
	<select id="selectList" parameterType="AttributeLink" resultType="AttributeLink">
		select t.* from t_attribute_link t where 1 = 1 
		<if test="attrID!=0"> and attrID = #{attrID}</if>
		<if test="productID!=0"> and productID = #{productID}</if>
		<if test="value!=null and value!=''"> and value = #{value}</if>
		
		order by id
	</select>

	<!-- 7. 根据ID来删除一条记录 -->
	<delete id="deleteById" parameterType="long">
		delete from t_attribute_link where id = #{id}
	</delete>

	<!-- 8. 根据ID查询一条记录 -->
	<select id="selectById" parameterType="long" resultType="AttributeLink">
		select t.* from t_attribute_link t where t.id = #{id}
	</select>

	<!-- 9. 分页查询AttributeLink -->
	<select id="selectPageCount" parameterType="AttributeLink" resultType="int">
		select count(1) from t_attribute_link t where 1 = 1
		<if test="attrID!=0"> and attrID = #{attrID}</if>
		<if test="productID!=0"> and productID = #{productID}</if>
		<if test="value!=null and value!=''"> and value = #{value}</if>
		
	</select>
	
	

</mapper>
