<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuisitang.modules.shop.dao.ExpressCompanyDao">

	<!-- 1. 添加ExpressCompany -->
	<insert id="insert" parameterType="ExpressCompany" useGeneratedKeys="true" keyProperty="id">
		insert into t_express_company
		(
		id
		<if test="code!=null and code!=''">,code</if>
		<if test="name!=null and name!=''">,name</if>
		<if test="url!=null and url!=''">,url</if>
		<if test="tel!=0">,tel</if>
		)
		values
		(
		id
		<if test="code !=null and code !=''">,#{code}</if>
		<if test="name !=null and name !=''">,#{name}</if>
		<if test="url !=null and url !=''">,#{url}</if>
		<if test="tel !=null and tel !=''">,#{tel}</if>
		)
	</insert>

	<!-- 2. 删除ExpressCompany -->
	<delete id="delete" parameterType="ExpressCompany">
		delete from t_express_company where id = #{id}
	</delete>

	<!-- 3. 修改ExpressCompany -->
	<update id="update" parameterType="ExpressCompany">
		update t_express_company
		set id = #{id}
		<if test="code !=null and code !=''">,code = #{code}</if>
		<if test="name !=null and name !=''">,name = #{name}</if>
		<if test="url !=null and url !=''">,url = #{url}</if>
		<if test="tel !=null and tel !=''">,tel = #{tel}</if>
		where id = #{id}
	</update>

	<!-- 4. 根据ExpressCompany查询一条记录 -->
	<select id="selectOne" parameterType="ExpressCompany" resultType="ExpressCompany">
		select t.* from t_express_company t where t.id = #{id}
	</select>

	<!-- 5. 分页查询ExpressCompany -->
	<select id="selectPageList" parameterType="ExpressCompany" resultType="ExpressCompany">
		select t.* from t_express_company t where 1 = 1
		order by id
		limit #{offset}, #{pageSize}
	</select>

	<!-- 6. 根据条件查询ExpressCompany -->
	<select id="selectList" parameterType="ExpressCompany" resultType="ExpressCompany">
		select t.* from t_express_company t where 1 = 1 order by id
	</select>

	<!-- 7. 根据ID来删除一条记录 -->
	<delete id="deleteById" parameterType="long">
		delete from t_express_company where id = #{id}
	</delete>

	<!-- 8. 根据ID查询一条记录 -->
	<select id="selectById" parameterType="long" resultType="ExpressCompany">
		select t.* from t_express_company t where t.id = #{id}
	</select>

	<!-- 9. 分页查询ExpressCompany -->
	<select id="selectPageCount" parameterType="ExpressCompany" resultType="int">
		select count(1) from t_express_company t where 1 = 1
	</select>
	
	<!-- 10. getByCode -->
	<select id="getByCode" parameterType="string" resultType="ExpressCompany">
		select t.* from t_express_company t where t.code = #{code}
	</select>

</mapper>
