<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuisitang.modules.shop.dao.ProfitLogDao">

	<!-- 1. 添加ProfitLog -->
	<insert id="insert" parameterType="ProfitLog" useGeneratedKeys="true" keyProperty="id">
		insert into t_profit_log
		(id
		<if test="inviteId!=null">,inviteId</if>
		<if test="inviteName!=null and inviteName!=''">,inviteName</if>
		<if test="inviteeId!=null">,inviteeId</if>
		<if test="inviteeName!=null and inviteeName!=''">,inviteeName</if>
		<if test="createDate!=null">,createDate</if>
		<if test="profit!=null">,profit</if>
		<if test="description!=null and description!=''">,description</if>
		)
		values
		(
		id
		<if test="inviteId!=null">,#{inviteId}</if>
		<if test="inviteName!=null and inviteName!=''">,#{inviteName}</if>
		<if test="inviteeId!=null">,#{inviteeId}</if>
		<if test="inviteeName!=null and inviteeName!=''">,#{inviteeName}</if>
		<if test="createDate!=null">,#{createDate}</if>
		<if test="profit!=null">,#{profit}</if>
		<if test="description!=null and description!=''">,#{description}</if>
		)
	</insert>

	<!-- 2. 删除ProfitLog -->
	<delete id="delete" parameterType="ProfitLog">
		delete from t_profit_log where id = #{id}
	</delete>

	<!-- 3. 修改ProfitLog -->
	<update id="update" parameterType="ProfitLog">
		update t_profit_log
		set id= #{id}
		<if test="inviteId!=null">,inviteId = #{inviteId}</if>
		<if test="inviteName!=null and inviteName!=''">,inviteName = #{inviteName}</if>
		<if test="inviteeId!=null">,inviteeId = #{inviteeId}</if>
		<if test="inviteeName!=null and inviteeName!=''">,inviteeName = #{inviteeName}</if>
		<if test="createDate!=null">,createDate = #{createDate}</if>
		<if test="profit!=null">,profit = #{profit}</if>
		<if test="description!=null and description!=''">,description = #{description}</if>		
		where id = #{id}
	</update>

	<!-- 4. 根据ProfitLog查询一条记录 -->
	<select id="selectOne" parameterType="ProfitLog" resultType="ProfitLog">
		select t.* from t_profit_log t where t.id = #{id}
	</select>

	<!-- 5. 分页查询ProfitLog -->
	<select id="selectPageList" parameterType="ProfitLog" resultType="ProfitLog">
		select t.* from t_profit_log t where 1 = 1
		<if test="inviteId!=null"> and inviteId = #{inviteId}</if>
		<if test="inviteName!=null and inviteName!=''"> and inviteName = #{inviteName}</if>
		<if test="inviteeId!=null"> and inviteeId = #{inviteeId}</if>
		<if test="inviteeName!=null and inviteeName!=''"> and inviteeName = #{inviteeName}</if>
		<if test="createDate!=null"> and createDate = #{createDate}</if>
		<if test="profit!=null"> and profit = #{profit}</if>
		<if test="description!=null and description!=''"> and description = #{description}</if>		
		order by id
		limit #{offset}, #{pageSize}
	</select>

	<!-- 6. 根据条件查询ProfitLog -->
	<select id="selectList" parameterType="ProfitLog" resultType="ProfitLog">
		select t.* from t_profit_log t where 1 = 1 
		<if test="id!=null"> and id = #{id}</if>
		<if test="inviteId!=null"> and inviteId = #{inviteId}</if>
		<if test="inviteName!=null and inviteName!=''"> and inviteName = #{inviteName}</if>
		<if test="inviteeId!=null"> and inviteeId = #{inviteeId}</if>
		<if test="inviteeName!=null and inviteeName!=''"> and inviteeName = #{inviteeName}</if>
		<if test="createDate!=null"> and createDate = #{createDate}</if>
		<if test="profit!=null"> and profit = #{profit}</if>
		<if test="description!=null and description!=''"> and description = #{description}</if>		
		order by id
	</select>

	<!-- 7. 根据ID来删除一条记录 -->
	<delete id="deleteById" parameterType="long">
		delete from t_profit_log where id = #{id}
	</delete>

	<!-- 8. 根据ID查询一条记录 -->
	<select id="selectById" parameterType="long" resultType="ProfitLog">
		select t.* from t_profit_log t where t.id = #{id}
	</select>

	<!-- 9. 分页查询ProfitLog -->
	<select id="selectPageCount" parameterType="ProfitLog" resultType="int">
		select count(1) from t_profit_log t where 1 = 1
		<if test="id!=null"> and id = #{id}</if>
		<if test="inviteId!=null"> and inviteId = #{inviteId}</if>
		<if test="inviteName!=null and inviteName!=''"> and inviteName = #{inviteName}</if>
		<if test="inviteeId!=null"> and inviteeId = #{inviteeId}</if>
		<if test="inviteeName!=null and inviteeName!=''"> and inviteeName = #{inviteeName}</if>
		<if test="createDate!=null"> and createDate = #{createDate}</if>
		<if test="profit!=null"> and profit = #{profit}</if>
		<if test="description!=null and description!=''"> and description = #{description}</if>		
	</select>
	
	<!-- 10. getProfitByAccount -->
	<select id="getProfitByAccount" parameterType="map" resultType="ProfitLog">
	    select t.* from t_profit_log t where 1= 1
	   <if test="inviteeId !=null">
	   	   and t.inviteeId = #{inviteeId} 
	   </if>
	   limit #{offset}, #{pageSize}
	</select>
	
	<!-- 11. getInviteeByAccount -->
	<select id="countProfitByAccount" parameterType="map" resultType="int">
		select count(1) from t_profit_log t where 1 = 1
		<if test="inviteId!=null">and inviteId = #{inviteId}</if>
	</select>

</mapper>
