<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuisitang.modules.shop.dao.RoleDao">

	<!-- 1. 添加Role -->
	<insert id="insert" parameterType="Role" useGeneratedKeys="true" keyProperty="id">
		insert into t_role
		(id
        <if test="role_name!=null and role_name!=''">,role_name</if>
		<if test="role_desc!=null and role_desc!=''">,role_desc</if>
		<if test="role_dbPrivilege!=null and role_dbPrivilege!=''">,role_dbPrivilege</if>
		<if test="status!=null and status!=''">,status</if>
		
		)
		values
		(
		id
		<if test="role_name!=null and role_name!=''">,#{role_name}</if>
		<if test="role_desc!=null and role_desc!=''">,#{role_desc}</if>
		<if test="role_dbPrivilege!=null and role_dbPrivilege!=''">,#{role_dbPrivilege}</if>
		<if test="status!=null and status!=''">,#{status}</if>
		
		)
	</insert>

	<!-- 2. 删除Role -->
	<delete id="delete" parameterType="Role">
		delete from t_role where id = #{id}
	</delete>

	<!-- 3. 修改Role -->
	<update id="update" parameterType="Role">
		update t_role
		set id= #{id}
		<if test="role_name!=null and role_name!=''">,role_name = #{role_name}</if>
		<if test="role_desc!=null and role_desc!=''">,role_desc = #{role_desc}</if>
		<if test="role_dbPrivilege!=null and role_dbPrivilege!=''">,role_dbPrivilege = #{role_dbPrivilege}</if>
		<if test="status!=null and status!=''">,status = #{status}</if>
				
		where id = #{id}
	</update>

	<!-- 4. 根据Role查询一条记录 -->
	<select id="selectOne" parameterType="Role" resultType="Role">
		select t.* from t_role t where t.id = #{id}
	</select>

	<!-- 5. 分页查询Role -->
	<select id="selectPageList" parameterType="Role" resultType="Role">
		select t.* from t_role t where 1 = 1
		<if test="role_name!=null and role_name!=''"> and role_name = #{role_name}</if>
		<if test="role_desc!=null and role_desc!=''"> and role_desc = #{role_desc}</if>
		<if test="role_dbPrivilege!=null and role_dbPrivilege!=''"> and role_dbPrivilege = #{role_dbPrivilege}</if>
		<if test="status!=null and status!=''"> and status = #{status}</if>
		
		order by id
		limit #{offset}, #{pageSize}
	</select>

	<!-- 6. 根据条件查询Role -->
	<select id="selectList" parameterType="Role" resultType="Role">
		select t.* from t_role t where 1 = 1 
		<if test="role_name!=null and role_name!=''"> and role_name = #{role_name}</if>
		<if test="role_desc!=null and role_desc!=''"> and role_desc = #{role_desc}</if>
		<if test="role_dbPrivilege!=null and role_dbPrivilege!=''"> and role_dbPrivilege = #{role_dbPrivilege}</if>
		<if test="status!=null and status!=''"> and status = #{status}</if>
		
		order by id
	</select>

	<!-- 7. 根据ID来删除一条记录 -->
	<delete id="deleteById" parameterType="long">
		delete from t_role where id = #{id}
	</delete>

	<!-- 8. 根据ID查询一条记录 -->
	<select id="selectById" parameterType="long" resultType="Role">
		select t.* from t_role t where t.id = #{id}
	</select>

	<!-- 9. 分页查询Role -->
	<select id="selectPageCount" parameterType="Role" resultType="int">
		select count(1) from t_role t where 1 = 1
		<if test="role_name!=null and role_name!=''"> and role_name = #{role_name}</if>
		<if test="role_desc!=null and role_desc!=''"> and role_desc = #{role_desc}</if>
		<if test="role_dbPrivilege!=null and role_dbPrivilege!=''"> and role_dbPrivilege = #{role_dbPrivilege}</if>
		<if test="status!=null and status!=''"> and status = #{status}</if>
		
	</select>

</mapper>
