<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuisitang.modules.shop.dao.AttributeDao">
	
	<resultMap type="Attribute" id="AttributeListMap"> 
		<id column="rid" property="id" />
		<result column="rname" property="name" />
		<result column="rcatalogID" property="catalogID" />
		<result column="rpid" property="pid" />
		<result column="rsort" property="sort" />
	</resultMap> 
	
	<resultMap type="Attribute" id="AttributeMap"> 
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="catalogID" property="catalogID" />
		<result column="pid" property="pid" />
		<result column="sort" property="sort" />
		<collection property="attrList" ofType="Attribute" resultMap="AttributeListMap" />
	</resultMap> 
	
	<!-- 1. 添加Attribute -->
	<insert id="insert" parameterType="Attribute" useGeneratedKeys="true" keyProperty="id">
		insert into t_attribute
		(id
        <if test="name!=null and name!=''">,name</if>
		<if test="catalogID!=0">,catalogID</if>
		<if test="pid!=0">,pid</if>
		<if test="sort!=0">,sort</if>
		
		)
		values
		(
		id
		<if test="name!=null and name!=''">,#{name}</if>
		<if test="catalogID!=0">,#{catalogID}</if>
		<if test="pid!=0">,#{pid}</if>
		<if test="sort!=0">,#{sort}</if>
		
		)
	</insert>

	<!-- 2. 删除Attribute -->
	<delete id="delete" parameterType="Attribute">
		delete from t_attribute where id = #{id}
	</delete>

	<!-- 3. 修改Attribute -->
	<update id="update" parameterType="Attribute">
		update t_attribute
		set id= #{id}
		<if test="name!=null and name!=''">,name = #{name}</if>
		<if test="catalogID!=0">,catalogID = #{catalogID}</if>
		<if test="pid!=0">,pid = #{pid}</if>
		<if test="sort!=0">,sort = #{sort}</if>
				
		where id = #{id}
	</update>

	<!-- 4. 根据Attribute查询一条记录 -->
	<select id="selectOne" parameterType="Attribute" resultType="Attribute">
		select t.* from t_attribute t where t.id = #{id}
	</select>

	<!-- 5. 分页查询Attribute -->
	<select id="selectPageList" parameterType="Attribute" resultType="Attribute">
		select t.* from t_attribute t where 1 = 1
		<if test="name!=null and name!=''"> and name = #{name}</if>
		<if test="catalogID!=0"> and catalogID = #{catalogID}</if>
		<if test="pid!=0"> and pid = #{pid}</if>
		<if test="sort!=0"> and sort = #{sort}</if>
		
		order by id
		limit #{offset}, #{pageSize}
	</select>

	<!-- 6. 根据条件查询Attribute -->
	<select id="selectList" parameterType="Attribute" resultType="Attribute">
		select t.* from t_attribute t where 1 = 1 
		<if test="name!=null and name!=''"> and name = #{name}</if>
		<if test="catalogID!=0"> and catalogID = #{catalogID}</if>
		<if test="pid!=0"> and pid = #{pid}</if>
		<if test="sort!=0"> and sort = #{sort}</if>
		
		order by id
	</select>

	<!-- 7. 根据ID来删除一条记录 -->
	<delete id="deleteById" parameterType="long">
		delete from t_attribute where id = #{id}
	</delete>

	<!-- 8. 根据ID查询一条记录 -->
	<select id="selectById" parameterType="long" resultType="Attribute">
		select t.* from t_attribute t where t.id = #{id}
	</select>

	<!-- 9. 分页查询Attribute -->
	<select id="selectPageCount" parameterType="Attribute" resultType="int">
		select count(1) from t_attribute t where 1 = 1
		<if test="name!=null and name!=''"> and name = #{name}</if>
		<if test="catalogID!=0"> and catalogID = #{catalogID}</if>
		<if test="pid!=0"> and pid = #{pid}</if>
		<if test="sort!=0"> and sort = #{sort}</if>
		
	</select>
	
	<!-- 10. 根据pid删除 -->
	<delete id="deleteByPid" parameterType="long">
		delete from t_attribute where pid = #{pid}
	</delete>
	
	<!-- 11.根据目录查询属性-->
	<select id="selectAttributeByCatalog" parameterType="long" resultMap="AttributeMap">
		select t.id,t.name, t.catalogID,t.pid,t.sort,
	  		   t1.id as 'rid',t1.name as 'rname',t1.catalogID as 'rcatalogID',t1.pid as 'rpid',t1.sort as 'rsort' from t_attribute t, t_attribute t1
		where t.id = t1.pid
        and t.catalogID = #{catalogID}
		and t.pid = 0
		order by t.sort,t1.sort;
	</select>

</mapper>
