<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuisitang.modules.shop.dao.ExpressDao">

	<!-- 1. 添加Express -->
	<insert id="insert" parameterType="Express" useGeneratedKeys="true" keyProperty="id">
		insert into t_express
		(
		id
		<if test="code!=null and code!=''">,code</if>
		<if test="name!=null and name!=''">,name</if>
		<if test="fee!=null and fee!=''">,fee</if>
		<if test="sort!=0">,sort</if>
		)
		values
		(
		id
		<if test="code !=null and code !=''">,#{code}</if>
		<if test="name !=null and name !=''">,#{name}</if>
		<if test="fee !=null and fee !=''">,#{fee}</if>
		<if test="sort !=0">,#{sort}</if>
		)
	</insert>

	<!-- 2. 删除Express -->
	<delete id="delete" parameterType="Express">
		delete from t_express where id = #{id}
	</delete>

	<!-- 3. 修改Express -->
	<update id="update" parameterType="Express">
		update t_express
		set id = #{id}
		<if test="code !=null and code !=''">,code = #{code}</if>
		<if test="name !=null and name !=''">,name = #{name}</if>
		<if test="fee !=null and fee !=''">,fee = #{fee}</if>
		<if test="sort !=0">,sort = #{sort}</if>
		where id = #{id}
	</update>

	<!-- 4. 根据Express查询一条记录 -->
	<select id="selectOne" parameterType="Express" resultType="Express">
		select t.* from t_express t where t.id = #{id}
	</select>

	<!-- 5. 分页查询Express -->
	<select id="selectPageList" parameterType="Express" resultType="Express">
		select t.* from t_express t where 1 = 1
		order by sort
		limit #{offset}, #{pageSize}
	</select>

	<!-- 6. 根据条件查询Express -->
	<select id="selectList" parameterType="Express" resultType="Express">
		select t.* from t_express t where 1 = 1 order by sort
	</select>

	<!-- 7. 根据ID来删除一条记录 -->
	<delete id="deleteById" parameterType="long">
		delete from t_express where id = #{id}
	</delete>

	<!-- 8. 根据ID查询一条记录 -->
	<select id="selectById" parameterType="long" resultType="Express">
		select t.* from t_express t where t.id = #{id}
	</select>

	<!-- 9. 分页查询Express -->
	<select id="selectPageCount" parameterType="Express" resultType="int">
		select count(1) from t_express t where 1 = 1
	</select>
	
	<!-- 10. getByCode -->
	<select id="getByCode" parameterType="string" resultType="Express">
		select t.* from t_express t where t.code = #{code}
	</select>

</mapper>
