<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuisitang.modules.shop.dao.GiftDao">

	<!-- 1. 添加Gift -->
	<insert id="insert" parameterType="Gift" useGeneratedKeys="true" keyProperty="id">
		insert into t_gift
		(id
        <if test="giftName!=null and giftName!=''">,giftName</if>
		<if test="giftPrice!=null">,giftPrice</if>
		<if test="createAccount!=null and createAccount!=''">,createAccount</if>
		<if test="createtime!=null">,createtime</if>
		<if test="updateAccount!=null and updateAccount!=''">,updateAccount</if>
		<if test="updatetime!=null">,updatetime</if>
		<if test="status!=null and status!=''">,status</if>
		<if test="picture!=null and picture!=''">,picture</if>
		
		)
		values
		(
		id
		<if test="giftName!=null and giftName!=''">,#{giftName}</if>
		<if test="giftPrice!=null">,#{giftPrice}</if>
		<if test="createAccount!=null and createAccount!=''">,#{createAccount}</if>
		<if test="createtime!=null">,#{createtime}</if>
		<if test="updateAccount!=null and updateAccount!=''">,#{updateAccount}</if>
		<if test="updatetime!=null">,#{updatetime}</if>
		<if test="status!=null and status!=''">,#{status}</if>
		<if test="picture!=null and picture!=''">,#{picture}</if>
		
		)
	</insert>

	<!-- 2. 删除Gift -->
	<delete id="delete" parameterType="Gift">
		delete from t_gift where id = #{id}
	</delete>

	<!-- 3. 修改Gift -->
	<update id="update" parameterType="Gift">
		update t_gift
		set id= #{id}
		<if test="giftName!=null and giftName!=''">,giftName = #{giftName}</if>
		<if test="giftPrice!=null">,giftPrice = #{giftPrice}</if>
		<if test="createAccount!=null and createAccount!=''">,createAccount = #{createAccount}</if>
		<if test="createtime!=null">,createtime = #{createtime}</if>
		<if test="updateAccount!=null and updateAccount!=''">,updateAccount = #{updateAccount}</if>
		<if test="updatetime!=null">,updatetime = #{updatetime}</if>
		<if test="status!=null and status!=''">,status = #{status}</if>
		<if test="picture!=null and picture!=''">,picture = #{picture}</if>
				
		where id = #{id}
	</update>

	<!-- 4. 根据Gift查询一条记录 -->
	<select id="selectOne" parameterType="Gift" resultType="Gift">
		select t.* from t_gift t where t.id = #{id}
	</select>

	<!-- 5. 分页查询Gift -->
	<select id="selectPageList" parameterType="Gift" resultType="Gift">
		select t.* from t_gift t where 1 = 1
		<if test="giftName!=null and giftName!=''"> and giftName = #{giftName}</if>
		<if test="giftPrice!=null"> and giftPrice = #{giftPrice}</if>
		<if test="createAccount!=null and createAccount!=''"> and createAccount = #{createAccount}</if>
		<if test="createtime!=null"> and createtime = #{createtime}</if>
		<if test="updateAccount!=null and updateAccount!=''"> and updateAccount = #{updateAccount}</if>
		<if test="updatetime!=null"> and updatetime = #{updatetime}</if>
		<if test="status!=null and status!=''"> and status = #{status}</if>
		<if test="picture!=null and picture!=''"> and picture = #{picture}</if>
		
		order by id
		limit #{offset}, #{pageSize}
	</select>

	<!-- 6. 根据条件查询Gift -->
	<select id="selectList" parameterType="Gift" resultType="Gift">
		select t.* from t_gift t where 1 = 1 
		<if test="giftName!=null and giftName!=''"> and giftName = #{giftName}</if>
		<if test="giftPrice!=null"> and giftPrice = #{giftPrice}</if>
		<if test="createAccount!=null and createAccount!=''"> and createAccount = #{createAccount}</if>
		<if test="createtime!=null"> and createtime = #{createtime}</if>
		<if test="updateAccount!=null and updateAccount!=''"> and updateAccount = #{updateAccount}</if>
		<if test="updatetime!=null"> and updatetime = #{updatetime}</if>
		<if test="status!=null and status!=''"> and status = #{status}</if>
		<if test="picture!=null and picture!=''"> and picture = #{picture}</if>
		
		order by id
	</select>

	<!-- 7. 根据ID来删除一条记录 -->
	<delete id="deleteById" parameterType="long">
		delete from t_gift where id = #{id}
	</delete>

	<!-- 8. 根据ID查询一条记录 -->
	<select id="selectById" parameterType="long" resultType="Gift">
		select t.* from t_gift t where t.id = #{id}
	</select>

	<!-- 9. 分页查询Gift -->
	<select id="selectPageCount" parameterType="Gift" resultType="int">
		select count(1) from t_gift t where 1 = 1
		<if test="giftName!=null and giftName!=''"> and giftName = #{giftName}</if>
		<if test="giftPrice!=null"> and giftPrice = #{giftPrice}</if>
		<if test="createAccount!=null and createAccount!=''"> and createAccount = #{createAccount}</if>
		<if test="createtime!=null"> and createtime = #{createtime}</if>
		<if test="updateAccount!=null and updateAccount!=''"> and updateAccount = #{updateAccount}</if>
		<if test="updatetime!=null"> and updatetime = #{updatetime}</if>
		<if test="status!=null and status!=''"> and status = #{status}</if>
		<if test="picture!=null and picture!=''"> and picture = #{picture}</if>
		
	</select>

</mapper>
