<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuisitang.modules.shop.dao.OssDao">

	<!-- 1. 添加Oss -->
	<insert id="insert" parameterType="Oss" useGeneratedKeys="true" keyProperty="id">
		insert into t_oss
		(name, code, status, ossJsonInfo)
		values
		(#{name}, #{code}, #{status}, #{ossJsonInfo})
	</insert>

	<!-- 2. 删除Oss -->
	<delete id="delete" parameterType="Oss">
		delete from t_oss where id = #{id}
	</delete>

	<!-- 3. 修改Oss -->
	<update id="update" parameterType="Oss">
		update t_oss
		set id= #{id}
		<if test="name!=null and name!=''">,name = #{name}</if>
		<if test="code!=null and code!=''">,code = #{code}</if>
		<if test="status!=null and status!=''">,status = #{status}</if>
		<if test="ossJsonInfo!=null and ossJsonInfo!=''">,ossJsonInfo = #{ossJsonInfo}</if>
		where id = #{id}
	</update>

	<!-- 4. 根据Oss查询一条记录 -->
	<select id="selectOne" parameterType="Oss" resultType="Oss">
		select t.* from t_oss t where t.id = #{id}
	</select>

	<!-- 5. 分页查询Oss -->
	<select id="selectPageList" parameterType="Oss" resultType="Oss">
		select t.* from t_oss t where 1 = 1
		<if test="code!=null and code!=''"> and code = #{code}</if>
		<if test="status!=null and status!=''"> and status = #{status}</if>
		order by id
		limit #{offset}, #{pageSize}
	</select>

	<!-- 6. 根据条件查询Oss -->
	<select id="selectList" parameterType="Oss" resultType="Oss">
		select t.* from t_oss t where 1 = 1 
		<if test="code!=null and code!=''"> and code = #{code}</if>
		<if test="status!=null and status!=''"> and status = #{status}</if>
		order by id
	</select>

	<!-- 7. 根据ID来删除一条记录 -->
	<delete id="deleteById" parameterType="long">
		delete from t_oss where id = #{id}
	</delete>

	<!-- 8. 根据ID查询一条记录 -->
	<select id="selectById" parameterType="long" resultType="Oss">
		select t.* from t_oss t where t.status = 'y' and t.id = #{id}
	</select>

	<!-- 9. 分页查询Oss -->
	<select id="selectPageCount" parameterType="Oss" resultType="int">
		select count(1) from t_oss t where 1 = 1
		<if test="code!=null and code!=''"> and code = #{code}</if>
		<if test="status!=null and status!=''"> and status = #{status}</if>
	</select>

	<!-- 10. getByCode -->
	<select id="getByCode" parameterType="string" resultType="Oss">
		select t.* from t_oss t where t.status = 'y' and t.code = #{code}
	</select>
</mapper>
