<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuisitang.modules.shop.dao.AreaDao">

	<!-- 1. 添加Area -->
	<insert id="insert" parameterType="Area" useGeneratedKeys="true" keyProperty="id">
		insert into t_area
		(id
        <if test="code!=null and code!=''">,code</if>
		<if test="pcode!=null and pcode!=''">,pcode</if>
		<if test="name!=null and name!=''">,name</if>
		<if test="description!=null and description!=''">,description</if>
		
		)
		values
		(
		id
		<if test="code!=null and code!=''">,#{code}</if>
		<if test="pcode!=null and pcode!=''">,#{pcode}</if>
		<if test="name!=null and name!=''">,#{name}</if>
		<if test="description!=null and description!=''">,#{description}</if>
		
		)
	</insert>

	<!-- 2. 删除Area -->
	<delete id="delete" parameterType="Area">
		delete from t_area where id = #{id}
	</delete>

	<!-- 3. 修改Area -->
	<update id="update" parameterType="Area">
		update t_area
		set id= #{id}
		<if test="code!=null and code!=''">,code = #{code}</if>
		<if test="pcode!=null and pcode!=''">,pcode = #{pcode}</if>
		<if test="name!=null and name!=''">,name = #{name}</if>
		<if test="description!=null and description!=''">,description = #{description}</if>
				
		where id = #{id}
	</update>

	<!-- 4. 根据Area查询一条记录 -->
	<select id="selectOne" parameterType="Area" resultType="Area">
		select t.* from t_area t where t.id = #{id}
	</select>

	<!-- 5. 分页查询Area -->
	<select id="selectPageList" parameterType="Area" resultType="Area">
		select t.* from t_area t where 1 = 1
		<if test="code!=null and code!=''"> and code = #{code}</if>
		<if test="pcode!=null and pcode!=''"> and pcode = #{pcode}</if>
		<if test="name!=null and name!=''"> and name = #{name}</if>
		<if test="description!=null and description!=''"> and description = #{description}</if>
		
		order by id
		limit #{offset}, #{pageSize}
	</select>

	<!-- 6. 根据条件查询Area -->
	<select id="selectList" parameterType="Area" resultType="Area">
		select t.* from t_area t where 1 = 1 
		<if test="code!=null and code!=''"> and code = #{code}</if>
		<if test="pcode!=null and pcode!=''"> and pcode = #{pcode}</if>
		<if test="name!=null and name!=''"> and name = #{name}</if>
		<if test="description!=null and description!=''"> and description = #{description}</if>
		
		order by id
	</select>

	<!-- 7. 根据ID来删除一条记录 -->
	<delete id="deleteById" parameterType="long">
		delete from t_area where id = #{id}
	</delete>

	<!-- 8. 根据ID查询一条记录 -->
	<select id="selectById" parameterType="long" resultType="Area">
		select t.* from t_area t where t.id = #{id}
	</select>

	<!-- 9. 分页查询Area -->
	<select id="selectPageCount" parameterType="Area" resultType="int">
		select count(1) from t_area t where 1 = 1
		<if test="code!=null and code!=''"> and code = #{code}</if>
		<if test="pcode!=null and pcode!=''"> and pcode = #{pcode}</if>
		<if test="name!=null and name!=''"> and name = #{name}</if>
		<if test="description!=null and description!=''"> and description = #{description}</if>
		
	</select>

</mapper>
