<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuisitang.modules.shop.dao.AuthenticationDao">

	<!-- 1. 添加Authentication -->
	<insert id="insert" parameterType="Authentication" useGeneratedKeys="true" keyProperty="id">
		insert into t_authentication
		(id
        <if test="id!=0">,id</if>
		<if test="accountId!=0">,accountId</if>
		<if test="type!=0">,type</if>
		<if test="cardNo!=null and cardNo!=''">,cardNo</if>
		<if test="cardName!=null and cardName!=''">,cardName</if>
		<if test="authPicture!=null and authPicture!=''">,authPicture</if>
		<if test="authDate!=null">,authDate</if>
		<if test="requestDate!=null">,requestDate</if>
		<if test="rejectReason!=null and rejectReason!=''">,rejectReason</if>
		<if test="rejectDate!=null">,rejectDate</if>
		<if test="status!=0">,status</if>
		
		)
		values
		(
		id
		<if test="accountId!=0">,${accountId}</if>
		<if test="type!=0">,${type}</if>
		<if test="cardNo!=null and cardNo!=''">,#{cardNo}</if>
		<if test="cardName!=null and cardName!=''">,#{cardName}</if>
		<if test="authPicture!=null and authPicture!=''">,#{authPicture}</if>
		<if test="authDate!=null">,${authDate}</if>
		<if test="requestDate!=null">,${requestDate}</if>
		<if test="rejectReason!=null and rejectReason!=''">,#{rejectReason}</if>
		<if test="rejectDate!=null">,${rejectDate}</if>
		<if test="status!=0">,${status}</if>
		
		)
	</insert>

	<!-- 2. 删除Authentication -->
	<delete id="delete" parameterType="Authentication">
		delete from t_authentication where id = #{id}
	</delete>

	<!-- 3. 修改Authentication -->
	<update id="update" parameterType="Authentication">
		update t_authentication
		set id= #{id}
		<if test="id!=0">,id = #{id}</if>
		<if test="accountId!=0">,accountId = #{accountId}</if>
		<if test="type!=0">,type = #{type}</if>
		<if test="cardNo!=null and cardNo!=''">,cardNo = #{cardNo}</if>
		<if test="cardName!=null and cardName!=''">,cardName = #{cardName}</if>
		<if test="authPicture!=null and authPicture!=''">,authPicture = #{authPicture}</if>
		<if test="authDate!=null">,authDate = #{authDate}</if>
		<if test="requestDate!=null">,requestDate = #{requestDate}</if>
		<if test="rejectReason!=null and rejectReason!=''">,rejectReason = #{rejectReason}</if>
		<if test="rejectDate!=null">,rejectDate = #{rejectDate}</if>
		<if test="status!=0">,status = #{status}</if>
				
		where id = #{id}
	</update>

	<!-- 4. 根据Authentication查询一条记录 -->
	<select id="selectOne" parameterType="Authentication" resultType="Authentication">
		select t.* from t_authentication t where t.id = #{id}
	</select>

	<!-- 5. 分页查询Authentication -->
	<select id="selectPageList" parameterType="Authentication" resultType="Authentication">
		select t.* from t_authentication t where 1 = 1
		<if test="id!=0"> and id = #{id}</if>
		<if test="accountId!=0"> and accountId = #{accountId}</if>
		<if test="type!=0"> and type = #{type}</if>
		<if test="cardNo!=null and cardNo!=''"> and cardNo = #{cardNo}</if>
		<if test="cardName!=null and cardName!=''"> and cardName = #{cardName}</if>
		<if test="authPicture!=null and authPicture!=''"> and authPicture = #{authPicture}</if>
		<if test="authDate!=null"> and authDate = #{authDate}</if>
		<if test="requestDate!=null"> and requestDate = #{requestDate}</if>
		<if test="rejectReason!=null and rejectReason!=''"> and rejectReason = #{rejectReason}</if>
		<if test="rejectDate!=null"> and rejectDate = #{rejectDate}</if>
		<if test="status!=0"> and status = #{status}</if>
		
		order by id
		limit #{offset}, #{pageSize}
	</select>

	<!-- 6. 根据条件查询Authentication -->
	<select id="selectList" parameterType="Authentication" resultType="Authentication">
		select t.* from t_authentication t where 1 = 1 
		<if test="id!=0"> and id = #{id}</if>
		<if test="accountId!=0"> and accountId = #{accountId}</if>
		<if test="type!=0"> and type = #{type}</if>
		<if test="cardNo!=null and cardNo!=''"> and cardNo = #{cardNo}</if>
		<if test="cardName!=null and cardName!=''"> and cardName = #{cardName}</if>
		<if test="authPicture!=null and authPicture!=''"> and authPicture = #{authPicture}</if>
		<if test="authDate!=null"> and authDate = #{authDate}</if>
		<if test="requestDate!=null"> and requestDate = #{requestDate}</if>
		<if test="rejectReason!=null and rejectReason!=''"> and rejectReason = #{rejectReason}</if>
		<if test="rejectDate!=null"> and rejectDate = #{rejectDate}</if>
		<if test="status!=0"> and status = #{status}</if>
		
		order by id
	</select>

	<!-- 7. 根据ID来删除一条记录 -->
	<delete id="deleteById" parameterType="long">
		delete from t_authentication where id = #{id}
	</delete>

	<!-- 8. 根据ID查询一条记录 -->
	<select id="selectById" parameterType="long" resultType="Authentication">
		select t.* from t_authentication t where t.id = #{id}
	</select>

	<!-- 9. 分页查询Authentication -->
	<select id="selectPageCount" parameterType="Authentication" resultType="int">
		select count(1) from t_authentication t where 1 = 1
		<if test="id!=0"> and id = #{id}</if>
		<if test="accountId!=0"> and accountId = #{accountId}</if>
		<if test="type!=0"> and type = #{type}</if>
		<if test="cardNo!=null and cardNo!=''"> and cardNo = #{cardNo}</if>
		<if test="cardName!=null and cardName!=''"> and cardName = #{cardName}</if>
		<if test="authPicture!=null and authPicture!=''"> and authPicture = #{authPicture}</if>
		<if test="authDate!=null"> and authDate = #{authDate}</if>
		<if test="requestDate!=null"> and requestDate = #{requestDate}</if>
		<if test="rejectReason!=null and rejectReason!=''"> and rejectReason = #{rejectReason}</if>
		<if test="rejectDate!=null"> and rejectDate = #{rejectDate}</if>
		<if test="status!=0"> and status = #{status}</if>
		
	</select>

</mapper>
