<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuisitang.modules.shop.dao.FavoriteDao">

	<!-- 1. 添加Favorite -->
	<insert id="insert" parameterType="Favorite" useGeneratedKeys="true" keyProperty="id">
		insert into t_favorite
		(id
        <if test="accountId!=0">,accountId</if>
		<if test="account!=null and account!=''">,account</if>
		<if test="productID!=null and productID!=''">,productID</if>
		<if test="createtime!=null">,createtime</if>
		
		)
		values
		(
		id
		<if test="accountId!=0">,${accountId}</if>
		<if test="account!=null and account!=''">,#{account}</if>
		<if test="productID!=null and productID!=''">,#{productID}</if>
		<if test="createtime!=null">,${createtime}</if>
		
		)
	</insert>

	<!-- 2. 删除Favorite -->
	<delete id="delete" parameterType="Favorite">
		delete from t_favorite where id = #{id}
	</delete>

	<!-- 3. 修改Favorite -->
	<update id="update" parameterType="Favorite">
		update t_favorite
		set id= #{id}
		<if test="accountId!=0">,accountId = #{accountId}</if>
		<if test="account!=null and account!=''">,account = #{account}</if>
		<if test="productID!=null and productID!=''">,productID = #{productID}</if>
		<if test="createtime!=null">,createtime = #{createtime}</if>
				
		where id = #{id}
	</update>

	<!-- 4. 根据Favorite查询一条记录 -->
	<select id="selectOne" parameterType="Favorite" resultType="Favorite">
		select t.* from t_favorite t where t.id = #{id}
	</select>

	<!-- 5. 分页查询Favorite -->
	<select id="selectPageList" parameterType="Favorite" resultType="Favorite">
		select t.* from t_favorite t where 1 = 1
		<if test="accountId!=0"> and accountId = #{accountId}</if>
		<if test="account!=null and account!=''"> and account = #{account}</if>
		<if test="productID!=null and productID!=''"> and productID = #{productID}</if>
		<if test="createtime!=null"> and createtime = #{createtime}</if>
		
		order by id
		limit #{offset}, #{pageSize}
	</select>

	<!-- 6. 根据条件查询Favorite -->
	<select id="selectList" parameterType="Favorite" resultType="Favorite">
		select t.* from t_favorite t where 1 = 1 
		<if test="accountId!=0"> and accountId = #{accountId}</if>
		<if test="account!=null and account!=''"> and account = #{account}</if>
		<if test="productID!=null and productID!=''"> and productID = #{productID}</if>
		<if test="createtime!=null"> and createtime = #{createtime}</if>
		
		order by id
	</select>

	<!-- 7. 根据ID来删除一条记录 -->
	<delete id="deleteById" parameterType="long">
		delete from t_favorite where id = #{id}
	</delete>

	<!-- 8. 根据ID查询一条记录 -->
	<select id="selectById" parameterType="long" resultType="Favorite">
		select t.* from t_favorite t where t.id = #{id}
	</select>

	<!-- 9. 分页查询Favorite -->
	<select id="selectPageCount" parameterType="Favorite" resultType="int">
		select count(1) from t_favorite t where 1 = 1
		<if test="accountId!=0"> and accountId = #{accountId}</if>
		<if test="account!=null and account!=''"> and account = #{account}</if>
		<if test="productID!=null and productID!=''"> and productID = #{productID}</if>
		<if test="createtime!=null"> and createtime = #{createtime}</if>
		
	</select>

</mapper>
