<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuisitang.modules.shop.dao.HotqueryDao">

	<!-- 1. 添加Hotquery -->
	<insert id="insert" parameterType="Hotquery" useGeneratedKeys="true" keyProperty="id">
		insert into t_hotquery
		(id
        <if test="key1!=null and key1!=''">,key1</if>
		<if test="url!=null and url!=''">,url</if>
		
		)
		values
		(
		id
		<if test="key1!=null and key1!=''">,#{key1}</if>
		<if test="url!=null and url!=''">,#{url}</if>
		
		)
	</insert>

	<!-- 2. 删除Hotquery -->
	<delete id="delete" parameterType="Hotquery">
		delete from t_hotquery where id = #{id}
	</delete>

	<!-- 3. 修改Hotquery -->
	<update id="update" parameterType="Hotquery">
		update t_hotquery
		set id= #{id}
		<if test="key1!=null and key1!=''">,key1 = #{key1}</if>
		<if test="url!=null and url!=''">,url = #{url}</if>
				
		where id = #{id}
	</update>

	<!-- 4. 根据Hotquery查询一条记录 -->
	<select id="selectOne" parameterType="Hotquery" resultType="Hotquery">
		select t.* from t_hotquery t where t.id = #{id}
	</select>

	<!-- 5. 分页查询Hotquery -->
	<select id="selectPageList" parameterType="Hotquery" resultType="Hotquery">
		select t.* from t_hotquery t where 1 = 1
		<if test="key1!=null and key1!=''"> and key1 = #{key1}</if>
		<if test="url!=null and url!=''"> and url = #{url}</if>
		
		order by id
		limit #{offset}, #{pageSize}
	</select>

	<!-- 6. 根据条件查询Hotquery -->
	<select id="selectList" parameterType="Hotquery" resultType="Hotquery">
		select t.* from t_hotquery t where 1 = 1 
		<if test="key1!=null and key1!=''"> and key1 = #{key1}</if>
		<if test="url!=null and url!=''"> and url = #{url}</if>
		
		order by id
	</select>

	<!-- 7. 根据ID来删除一条记录 -->
	<delete id="deleteById" parameterType="long">
		delete from t_hotquery where id = #{id}
	</delete>

	<!-- 8. 根据ID查询一条记录 -->
	<select id="selectById" parameterType="long" resultType="Hotquery">
		select t.* from t_hotquery t where t.id = #{id}
	</select>

	<!-- 9. 分页查询Hotquery -->
	<select id="selectPageCount" parameterType="Hotquery" resultType="int">
		select count(1) from t_hotquery t where 1 = 1
		<if test="key1!=null and key1!=''"> and key1 = #{key1}</if>
		<if test="url!=null and url!=''"> and url = #{url}</if>
		
	</select>

</mapper>
