<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuisitang.modules.shop.dao.IndexImgDao">

	<!-- 1. 添加IndexImg -->
	<insert id="insert" parameterType="IndexImg" useGeneratedKeys="true" keyProperty="id">
		insert into t_index_img
		(id
        <if test="title!=null and title!=''">,title</if>
		<if test="picture!=null and picture!=''">,picture</if>
		<if test="sort!=0">,sort</if>
		<if test="description!=null and description!=''">,description</if>
		<if test="link!=null and link!=''">,link</if>
		
		)
		values
		(
		id
		<if test="title!=null and title!=''">,#{title}</if>
		<if test="picture!=null and picture!=''">,#{picture}</if>
		<if test="sort!=0">,${sort}</if>
		<if test="description!=null and description!=''">,#{description}</if>
		<if test="link!=null and link!=''">,#{link}</if>
		
		)
	</insert>

	<!-- 2. 删除IndexImg -->
	<delete id="delete" parameterType="IndexImg">
		delete from t_index_img where id = #{id}
	</delete>

	<!-- 3. 修改IndexImg -->
	<update id="update" parameterType="IndexImg">
		update t_index_img
		set id= #{id}
		<if test="title!=null and title!=''">,title = #{title}</if>
		<if test="picture!=null and picture!=''">,picture = #{picture}</if>
		<if test="sort!=0">,sort = #{sort}</if>
		<if test="description!=null and description!=''">,description = #{description}</if>
		<if test="link!=null and link!=''">,link = #{link}</if>
				
		where id = #{id}
	</update>

	<!-- 4. 根据IndexImg查询一条记录 -->
	<select id="selectOne" parameterType="IndexImg" resultType="IndexImg">
		select t.* from t_index_img t where t.id = #{id}
	</select>

	<!-- 5. 分页查询IndexImg -->
	<select id="selectPageList" parameterType="IndexImg" resultType="IndexImg">
		select t.* from t_index_img t where 1 = 1
		<if test="title!=null and title!=''"> and title = #{title}</if>
		<if test="picture!=null and picture!=''"> and picture = #{picture}</if>
		<if test="sort!=0"> and sort = #{sort}</if>
		<if test="description!=null and description!=''"> and description = #{description}</if>
		<if test="link!=null and link!=''"> and link = #{link}</if>
		
		order by id
		limit #{offset}, #{pageSize}
	</select>

	<!-- 6. 根据条件查询IndexImg -->
	<select id="selectList" parameterType="IndexImg" resultType="IndexImg">
		select t.* from t_index_img t where 1 = 1 
		<if test="title!=null and title!=''"> and title = #{title}</if>
		<if test="picture!=null and picture!=''"> and picture = #{picture}</if>
		<if test="sort!=0"> and sort = #{sort}</if>
		<if test="description!=null and description!=''"> and description = #{description}</if>
		<if test="link!=null and link!=''"> and link = #{link}</if>
		
		order by id
	</select>

	<!-- 7. 根据ID来删除一条记录 -->
	<delete id="deleteById" parameterType="long">
		delete from t_index_img where id = #{id}
	</delete>

	<!-- 8. 根据ID查询一条记录 -->
	<select id="selectById" parameterType="long" resultType="IndexImg">
		select t.* from t_index_img t where t.id = #{id}
	</select>

	<!-- 9. 分页查询IndexImg -->
	<select id="selectPageCount" parameterType="IndexImg" resultType="int">
		select count(1) from t_index_img t where 1 = 1
		<if test="title!=null and title!=''"> and title = #{title}</if>
		<if test="picture!=null and picture!=''"> and picture = #{picture}</if>
		<if test="sort!=0"> and sort = #{sort}</if>
		<if test="description!=null and description!=''"> and description = #{description}</if>
		<if test="link!=null and link!=''"> and link = #{link}</if>
		
	</select>

</mapper>
