<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuisitang.modules.shop.dao.KeyvalueDao">

	<!-- 1. 添加Keyvalue -->
	<insert id="insert" parameterType="Keyvalue" useGeneratedKeys="true" keyProperty="id">
		insert into t_keyvalue
		(id
        <if test="keyword!=null and keyword!=''">,keyword</if>
		<if test="value!=null and value!=''">,value</if>
		
		)
		values
		(
		id
		<if test="keyword!=null and keyword!=''">,#{keyword}</if>
		<if test="value!=null and value!=''">,#{value}</if>
		
		)
	</insert>

	<!-- 2. 删除Keyvalue -->
	<delete id="delete" parameterType="Keyvalue">
		delete from t_keyvalue where id = #{id}
	</delete>

	<!-- 3. 修改Keyvalue -->
	<update id="update" parameterType="Keyvalue">
		update t_keyvalue
		set id= #{id}
		<if test="keyword!=null and keyword!=''">,keyword = #{keyword}</if>
		<if test="value!=null and value!=''">,value = #{value}</if>
				
		where id = #{id}
	</update>

	<!-- 4. 根据Keyvalue查询一条记录 -->
	<select id="selectOne" parameterType="Keyvalue" resultType="Keyvalue">
		select t.* from t_keyvalue t where t.id = #{id}
	</select>

	<!-- 5. 分页查询Keyvalue -->
	<select id="selectPageList" parameterType="Keyvalue" resultType="Keyvalue">
		select t.* from t_keyvalue t where 1 = 1
		<if test="keyword!=null and keyword!=''"> and keyword = #{keyword}</if>
		<if test="value!=null and value!=''"> and value = #{value}</if>
		
		order by id
		limit #{offset}, #{pageSize}
	</select>

	<!-- 6. 根据条件查询Keyvalue -->
	<select id="selectList" parameterType="Keyvalue" resultType="Keyvalue">
		select t.* from t_keyvalue t where 1 = 1 
		<if test="keyword!=null and keyword!=''"> and keyword = #{keyword}</if>
		<if test="value!=null and value!=''"> and value = #{value}</if>
		
		order by id
	</select>

	<!-- 7. 根据ID来删除一条记录 -->
	<delete id="deleteById" parameterType="long">
		delete from t_keyvalue where id = #{id}
	</delete>

	<!-- 8. 根据ID查询一条记录 -->
	<select id="selectById" parameterType="long" resultType="Keyvalue">
		select t.* from t_keyvalue t where t.id = #{id}
	</select>

	<!-- 9. 分页查询Keyvalue -->
	<select id="selectPageCount" parameterType="Keyvalue" resultType="int">
		select count(1) from t_keyvalue t where 1 = 1
		<if test="keyword!=null and keyword!=''"> and keyword = #{keyword}</if>
		<if test="value!=null and value!=''"> and value = #{value}</if>
		
	</select>

</mapper>
