<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuisitang.modules.shop.dao.NewsDao">

	<!-- 1. 添加News -->
	<insert id="insert" parameterType="News" useGeneratedKeys="true" keyProperty="id">
		insert into t_news
		(id
        <if test="type!=null and type!=''">,type</if>
		<if test="title!=null and title!=''">,title</if>
		<if test="subtitle!=null and subtitle!=''">,subtitle</if>
		<if test="code!=null and code!=''">,code</if>
		<if test="content!=null">,content</if>
		<if test="createtime!=null">,createtime</if>
		<if test="updatetime!=null">,updatetime</if>
		<if test="readerCount!=0">,readerCount</if>
		<if test="status!=null and status!=''">,status</if>
		<if test="catalogID!=null and catalogID!=''">,catalogID</if>
		<if test="lableID!=null and lableID!=''">,lableID</if>
		<if test="createAccount!=null and createAccount!=''">,createAccount</if>
		<if test="sort!=0">,sort</if>
		
		)
		values
		(
		id
		<if test="type!=null and type!=''">,#{type}</if>
		<if test="title!=null and title!=''">,#{title}</if>
		<if test="subtitle!=null and subtitle!=''">,#{subtitle}</if>
		<if test="code!=null and code!=''">,#{code}</if>
		<if test="content!=null">,${content}</if>
		<if test="createtime!=null">,${createtime}</if>
		<if test="updatetime!=null">,${updatetime}</if>
		<if test="readerCount!=0">,${readerCount}</if>
		<if test="status!=null and status!=''">,#{status}</if>
		<if test="catalogID!=null and catalogID!=''">,#{catalogID}</if>
		<if test="lableID!=null and lableID!=''">,#{lableID}</if>
		<if test="createAccount!=null and createAccount!=''">,#{createAccount}</if>
		<if test="sort!=0">,${sort}</if>
		
		)
	</insert>

	<!-- 2. 删除News -->
	<delete id="delete" parameterType="News">
		delete from t_news where id = #{id}
	</delete>

	<!-- 3. 修改News -->
	<update id="update" parameterType="News">
		update t_news
		set id= #{id}
		<if test="type!=null and type!=''">,type = #{type}</if>
		<if test="title!=null and title!=''">,title = #{title}</if>
		<if test="subtitle!=null and subtitle!=''">,subtitle = #{subtitle}</if>
		<if test="code!=null and code!=''">,code = #{code}</if>
		<if test="content!=null">,content = #{content}</if>
		<if test="createtime!=null">,createtime = #{createtime}</if>
		<if test="updatetime!=null">,updatetime = #{updatetime}</if>
		<if test="readerCount!=0">,readerCount = #{readerCount}</if>
		<if test="status!=null and status!=''">,status = #{status}</if>
		<if test="catalogID!=null and catalogID!=''">,catalogID = #{catalogID}</if>
		<if test="lableID!=null and lableID!=''">,lableID = #{lableID}</if>
		<if test="createAccount!=null and createAccount!=''">,createAccount = #{createAccount}</if>
		<if test="sort!=0">,sort = #{sort}</if>
				
		where id = #{id}
	</update>

	<!-- 4. 根据News查询一条记录 -->
	<select id="selectOne" parameterType="News" resultType="News">
		select t.* from t_news t where t.id = #{id}
	</select>

	<!-- 5. 分页查询News -->
	<select id="selectPageList" parameterType="News" resultType="News">
		select t.* from t_news t where 1 = 1
		<if test="type!=null and type!=''"> and type = #{type}</if>
		<if test="title!=null and title!=''"> and title = #{title}</if>
		<if test="subtitle!=null and subtitle!=''"> and subtitle = #{subtitle}</if>
		<if test="code!=null and code!=''"> and code = #{code}</if>
		<if test="content!=null"> and content = #{content}</if>
		<if test="createtime!=null"> and createtime = #{createtime}</if>
		<if test="updatetime!=null"> and updatetime = #{updatetime}</if>
		<if test="readerCount!=0"> and readerCount = #{readerCount}</if>
		<if test="status!=null and status!=''"> and status = #{status}</if>
		<if test="catalogID!=null and catalogID!=''"> and catalogID = #{catalogID}</if>
		<if test="lableID!=null and lableID!=''"> and lableID = #{lableID}</if>
		<if test="createAccount!=null and createAccount!=''"> and createAccount = #{createAccount}</if>
		<if test="sort!=0"> and sort = #{sort}</if>
		
		order by id
		limit #{offset}, #{pageSize}
	</select>

	<!-- 6. 根据条件查询News -->
	<select id="selectList" parameterType="News" resultType="News">
		select t.* from t_news t where 1 = 1 
		<if test="type!=null and type!=''"> and type = #{type}</if>
		<if test="title!=null and title!=''"> and title = #{title}</if>
		<if test="subtitle!=null and subtitle!=''"> and subtitle = #{subtitle}</if>
		<if test="code!=null and code!=''"> and code = #{code}</if>
		<if test="content!=null"> and content = #{content}</if>
		<if test="createtime!=null"> and createtime = #{createtime}</if>
		<if test="updatetime!=null"> and updatetime = #{updatetime}</if>
		<if test="readerCount!=0"> and readerCount = #{readerCount}</if>
		<if test="status!=null and status!=''"> and status = #{status}</if>
		<if test="catalogID!=null and catalogID!=''"> and catalogID = #{catalogID}</if>
		<if test="lableID!=null and lableID!=''"> and lableID = #{lableID}</if>
		<if test="createAccount!=null and createAccount!=''"> and createAccount = #{createAccount}</if>
		<if test="sort!=0"> and sort = #{sort}</if>
		
		order by id
	</select>

	<!-- 7. 根据ID来删除一条记录 -->
	<delete id="deleteById" parameterType="long">
		delete from t_news where id = #{id}
	</delete>

	<!-- 8. 根据ID查询一条记录 -->
	<select id="selectById" parameterType="long" resultType="News">
		select t.* from t_news t where t.id = #{id}
	</select>

	<!-- 9. 分页查询News -->
	<select id="selectPageCount" parameterType="News" resultType="int">
		select count(1) from t_news t where 1 = 1
		<if test="type!=null and type!=''"> and type = #{type}</if>
		<if test="title!=null and title!=''"> and title = #{title}</if>
		<if test="subtitle!=null and subtitle!=''"> and subtitle = #{subtitle}</if>
		<if test="code!=null and code!=''"> and code = #{code}</if>
		<if test="content!=null"> and content = #{content}</if>
		<if test="createtime!=null"> and createtime = #{createtime}</if>
		<if test="updatetime!=null"> and updatetime = #{updatetime}</if>
		<if test="readerCount!=0"> and readerCount = #{readerCount}</if>
		<if test="status!=null and status!=''"> and status = #{status}</if>
		<if test="catalogID!=null and catalogID!=''"> and catalogID = #{catalogID}</if>
		<if test="lableID!=null and lableID!=''"> and lableID = #{lableID}</if>
		<if test="createAccount!=null and createAccount!=''"> and createAccount = #{createAccount}</if>
		<if test="sort!=0"> and sort = #{sort}</if>
		
	</select>

</mapper>
