<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuisitang.modules.shop.dao.SpecDao">

	<!-- 1. 添加Spec -->
	<insert id="insert" parameterType="Spec" useGeneratedKeys="true" keyProperty="id">
		insert into t_spec
		(id
        <if test="id!=0">,id</if>
		<if test="productID!=null and productID!=''">,productID</if>
		<if test="specType!=null and specType!=''">,specType</if>
		<if test="specColor!=null and specColor!=''">,specColor</if>
		<if test="specSize!=null and specSize!=''">,specSize</if>
		<if test="specStock!=null and specStock!=''">,specStock</if>
		<if test="specPrice!=null">,specPrice</if>
		<if test="specStatus!=null and specStatus!=''">,specStatus</if>
		
		)
		values
		(
		id
		<if test="id!=0">,${id}</if>
		<if test="productID!=null and productID!=''">,#{productID}</if>
		<if test="specType!=null and specType!=''">,#{specType}</if>
		<if test="specColor!=null and specColor!=''">,#{specColor}</if>
		<if test="specSize!=null and specSize!=''">,#{specSize}</if>
		<if test="specStock!=null and specStock!=''">,#{specStock}</if>
		<if test="specPrice!=null">,${specPrice}</if>
		<if test="specStatus!=null and specStatus!=''">,#{specStatus}</if>
		
		)
	</insert>

	<!-- 2. 删除Spec -->
	<delete id="delete" parameterType="Spec">
		delete from t_spec where id = #{id}
	</delete>

	<!-- 3. 修改Spec -->
	<update id="update" parameterType="Spec">
		update t_spec
		set id= #{id}
		<if test="id!=0">,id = #{id}</if>
		<if test="productID!=null and productID!=''">,productID = #{productID}</if>
		<if test="specType!=null and specType!=''">,specType = #{specType}</if>
		<if test="specColor!=null and specColor!=''">,specColor = #{specColor}</if>
		<if test="specSize!=null and specSize!=''">,specSize = #{specSize}</if>
		<if test="specStock!=null and specStock!=''">,specStock = #{specStock}</if>
		<if test="specPrice!=null">,specPrice = #{specPrice}</if>
		<if test="specStatus!=null and specStatus!=''">,specStatus = #{specStatus}</if>
				
		where id = #{id}
	</update>

	<!-- 4. 根据Spec查询一条记录 -->
	<select id="selectOne" parameterType="Spec" resultType="Spec">
		select t.* from t_spec t where t.id = #{id}
	</select>

	<!-- 5. 分页查询Spec -->
	<select id="selectPageList" parameterType="Spec" resultType="Spec">
		select t.* from t_spec t where 1 = 1
		<if test="id!=0"> and id = #{id}</if>
		<if test="productID!=null and productID!=''"> and productID = #{productID}</if>
		<if test="specType!=null and specType!=''"> and specType = #{specType}</if>
		<if test="specColor!=null and specColor!=''"> and specColor = #{specColor}</if>
		<if test="specSize!=null and specSize!=''"> and specSize = #{specSize}</if>
		<if test="specStock!=null and specStock!=''"> and specStock = #{specStock}</if>
		<if test="specPrice!=null"> and specPrice = #{specPrice}</if>
		<if test="specStatus!=null and specStatus!=''"> and specStatus = #{specStatus}</if>
		
		order by id
		limit #{offset}, #{pageSize}
	</select>

	<!-- 6. 根据条件查询Spec -->
	<select id="selectList" parameterType="Spec" resultType="Spec">
		select t.* from t_spec t where 1 = 1 
		<if test="id!=0"> and id = #{id}</if>
		<if test="productID!=null and productID!=''"> and productID = #{productID}</if>
		<if test="specType!=null and specType!=''"> and specType = #{specType}</if>
		<if test="specColor!=null and specColor!=''"> and specColor = #{specColor}</if>
		<if test="specSize!=null and specSize!=''"> and specSize = #{specSize}</if>
		<if test="specStock!=null and specStock!=''"> and specStock = #{specStock}</if>
		<if test="specPrice!=null"> and specPrice = #{specPrice}</if>
		<if test="specStatus!=null and specStatus!=''"> and specStatus = #{specStatus}</if>
		
		order by id
	</select>

	<!-- 7. 根据ID来删除一条记录 -->
	<delete id="deleteById" parameterType="long">
		delete from t_spec where id = #{id}
	</delete>

	<!-- 8. 根据ID查询一条记录 -->
	<select id="selectById" parameterType="long" resultType="Spec">
		select t.* from t_spec t where t.id = #{id}
	</select>

	<!-- 9. 分页查询Spec -->
	<select id="selectPageCount" parameterType="Spec" resultType="int">
		select count(1) from t_spec t where 1 = 1
		<if test="id!=0"> and id = #{id}</if>
		<if test="productID!=null and productID!=''"> and productID = #{productID}</if>
		<if test="specType!=null and specType!=''"> and specType = #{specType}</if>
		<if test="specColor!=null and specColor!=''"> and specColor = #{specColor}</if>
		<if test="specSize!=null and specSize!=''"> and specSize = #{specSize}</if>
		<if test="specStock!=null and specStock!=''"> and specStock = #{specStock}</if>
		<if test="specPrice!=null"> and specPrice = #{specPrice}</if>
		<if test="specStatus!=null and specStatus!=''"> and specStatus = #{specStatus}</if>
		
	</select>

</mapper>
