<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuisitang.modules.shop.dao.SystemSettingDao">

	<select id="selectPageList" parameterType="SystemSetting"
		resultType="SystemSetting">
		select *
		from t_systemsetting t where 1=1
		order by id desc
		limit #{offset},#{pageSize}
	</select>

	<select id="selectPageCount" parameterType="SystemSetting"
		resultType="java.lang.Integer">
		select count(*) from t_systemsetting t where 1=1
	</select>

	<select id="selectOne" parameterType="SystemSetting" resultType="SystemSetting">
		select * from t_systemsetting t where 1=1 limit 0,1
	</select>
	<delete id="deleteById" parameterType="SystemSetting">
		delete from
		t_systemsetting where 1=1 and id=#{id}
	</delete>
</mapper> 
